body {
    margin: 0px;
    padding: 0px;
    font-size: 14.5px;
    font-weight: 500;
    background-color: #ebebeb;
    font-family: "Noto Sans KR", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
}

.navbar-top:before {
    background: linear-gradient(-45deg, #ebebeb 11px, transparent 0),
        linear-gradient(45deg, #ebebeb 11px, transparent 0);
    background-position: left-bottom;
    background-repeat: repeat-x;
    background-size: 24px 24px;
    content: " ";
    display: block;
    position: absolute;
    top: 6px;
    left: 0;
    width: 100%;
    height: 32px;
    z-index: 7;
}

.icon-search:before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 auto;
    border: 2px solid #161616;
    transform: translateX(-1px);
}

.icon-search:after {
    content: "";
    display: block;
    width: 6px;
    height: 2px;
    margin: 0 auto;
    color: #161616;
    background-color: #161616;
    transform: rotate(45deg) translate(3px, -5px);
}
