body {
    margin: 0px;
    padding: 0px;
    font-size: 14.5px;
    font-weight: 500;
    line-height: 1.8;
    background-color: #ebebeb;
    font-family: "Noto Sans KR", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
}

p {
    margin: 0px;
    word-break: keep-all;
}

h3 {
    margin: 3rem 0 1rem;
    font-weight: 700;
    word-break: keep-all;
}

ul {
    margin: 0 0 1rem;
    list-style: none;
    padding: 0;
}

li {
    position: relative;
    margin: 0.25rem 0;
    padding: 0 0 0 1.25rem;
}

li::before {
    content: "\25AA";
    position: absolute;
    left: 0;
}

.pulse {
    height: 60px;
    background: #ebebeb;
    color: #161616;
    position: absolute;
    left: -20%;
    right: 0;
    top: 0;
    bottom: 0;
    font-size: large;
}

.marque {
    overflow-x: hidden;
}

.marque p {
    font-size: 24px;
    color: #161616;
    white-space: nowrap;
    -webkit-animation-name: marquee;
    animation-name: marquee;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    will-change: auto;
}

/*      Head wave     */

.navbar-top:before {
    background: linear-gradient(-45deg, #ebebeb 11px, transparent 0),
        linear-gradient(45deg, #ebebeb 11px, transparent 0);
    background-position: left-bottom;
    background-repeat: repeat-x;
    background-size: 24px 24px;
    content: " ";
    display: block;
    position: absolute;
    top: 6px;
    left: 0;
    width: 100%;
    height: 32px;
    z-index: 7;
}

.input-check {
    background-color: #ebebeb;
    border-radius: 0;
    cursor: default;
    box-sizing: border-box;
    margin: 3px 12px 3px 4px;
    border: 1px solid #161616;
    width: 16px;
    height: 16px;
}

/*     category   */

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 4;
}
.normal {
    text-decoration: none;
}

.is_active {
    border-bottom: 3px solid #000;
}

.is_active > * {
    margin-bottom: -3px;
}

/*    search icon     */
.icon-search:before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 auto;
    border: 2px solid #161616;
    transform: translateX(-1px);
}

.icon-search:after {
    content: "";
    display: block;
    width: 6px;
    height: 2px;
    margin: 0 auto;
    color: #161616;
    background-color: #161616;
    transform: rotate(45deg) translate(3px, -5px);
}

/*   Economy     */
.arrow:before {
    background: inherit;
    position: absolute;
    width: 17px;
    height: 2px;
    content: "";
    background-color: #161616;
    right: 0;
    transform: rotate(-50deg);
    transform-origin: top right;
}

.arrow:after {
    background: inherit;
    position: absolute;
    width: 17px;
    height: 2px;
    content: "";
    background-color: #161616;
    right: 0;
    transform: rotate(50deg);
    transform-origin: bottom right;
}
